body	
	{background-color: black; 
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	}
h1	
	{color: white;
	line-height: 200%;
	font-family: Georgia, "Times New Roman", serif;
	}
h2 
	{color: white; 
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	}
p 
	{color: green;
	text-indent: 3em;
	}
div
	{background-color: white;
	border-style: dotted;
	border-width: 2px;	
	width: 100px;
	height: 100px;
	}
ol
	{list-style: letters;
	}
ul 
	{ list-style: square;
	}
	
.fancy 
	{font-weight: bold;
	text-shadow: 4px 4px 3px #77f;
	}
.red 
	{color: #f33;
	  /* Center vertically and horizontally */
	}