header-div
	{background-color:blue;
	}
nav-div
	{background-color: red;
	}
section-div
	{background-color: yellow;
	}
	
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

.container-fluid
{
	color:black;background-color:black;
font-color: purple;
}